[Unit]
Description=lxmf_terminal
After=multi-user.target
[Service]
ExecStartPre=/bin/sleep 10
Type=simple
Restart=always
RestartSec=3
User=root
ExecStart=/root/LXMF-Tools/lxmf_terminal/lxmf_terminal.py
[Install]
WantedBy=multi-user.target
