[Unit]
Description=lxmf_welcome
After=multi-user.target
[Service]
ExecStartPre=/bin/sleep 10
Type=simple
Restart=always
RestartSec=3
User=root
ExecStart=/root/LXMF-Tools/lxmf_welcome/lxmf_welcome.py
[Install]
WantedBy=multi-user.target
