[Unit]
Description=lxmf_bridge_meshtastic
After=multi-user.target
[Service]
ExecStartPre=/bin/sleep 5
Type=simple
Restart=always
RestartSec=3
User=root
ExecStart=/root/LXMF-Tools/lxmf_bridge_meshtastic/lxmf_bridge_meshtastic.py
[Install]
WantedBy=multi-user.target
