[Unit]
Description=lxmf_provisioning
After=multi-user.target
[Service]
ExecStartPre=/bin/sleep 5
Type=simple
Restart=always
RestartSec=3
User=root
ExecStart=/root/LXMF-Tools/lxmf_provisioning/lxmf_provisioning.py
[Install]
WantedBy=multi-user.target
