[Unit]
Description=lxmf_test
After=multi-user.target
[Service]
ExecStartPre=/bin/sleep 5
Type=simple
Restart=always
RestartSec=3
User=root
ExecStart=/root/LXMF-Tools/lxmf_test/lxmf_test.py
[Install]
WantedBy=multi-user.target
