[Unit]
Description=lxmf_bridge_matrix
After=multi-user.target
[Service]
ExecStartPre=/bin/sleep 5
Type=simple
Restart=always
RestartSec=3
User=root
ExecStart=/root/LXMF-Tools/lxmf_bridge_matrix/lxmf_bridge_matrix.py
[Install]
WantedBy=multi-user.target
