[Unit]
Description=lxmf_ping
After=multi-user.target
[Service]
ExecStartPre=/bin/sleep 10
Type=simple
Restart=always
RestartSec=3
User=root
ExecStart=/root/LXMF-Tools/lxmf_ping/lxmf_ping.py
[Install]
WantedBy=multi-user.target
